/* ########### GENERAL STYLING ################# */
.bg-gradient {
    background-image: var(--bs-gradient);
}

.info-text * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

  .v-align {
    padding-top: 40%;
  }

/* ############ END GENERAL STYLING ############### */
  

/* ############ LOGIN PAGE ################## */
#loginForm {
  transform: translateY(-25%);
  background-image: var(--box-color);
  width: 25%;
}

.title {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  letter-spacing: 0.01em;
  line-height: 1;
  text-transform: uppercase;
}

.subtitle {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem
}

.form-control.bg-gradient {
  background-color: transparent;             
  background-image: var(--bs-gradient);     
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  box-shadow: none;
  transition: border-color 0.2s ease-in-out;
}

.form-control.bg-gradient:focus {
  border-color: #fff;
  box-shadow: none;                            
}

input.form-control.bg-gradient:-webkit-autofill,
input.form-control.bg-gradient:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--bs-gradient) inset;
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;  /* prevents flash */
}

/* Placeholder text and secondary text */
.form-control.bg-gradient::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* ############## END LOGIN STYLES ######################### */

/* ############### NAVBAR ######################### */

/* .menu-container {
  height: 30px;
  z-index: 1;
}

.menu {
  position: absolute;
  max-width: 40%;
  min-width: 200px;
  top: 15%;
  

}
.menu > ul > li {
  padding: 7px;
} */

.menu-btn { 
  margin: 0;
  cursor: pointer;
  color: var(--txt-color);
}
.menu-btn:hover {
  /* background-color: gainsboro; */
  color:rgba(255, 255, 255, 0.7);
}

nav .form-select {
  background-color: rgba(56, 45, 56, 0.658);
  background-image:
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");  
  color: var(--txt-color);
  max-width: fit-content;
  border-color: gray;
}

nav .form-select:focus {
  outline: none;
  box-shadow: none;
  border-color: gray;
}

/* ############## END NAVBAR STYLES ################## */

/* ############## CALENDAR ######################## */
.calendar *{
  font-size: 1rem;
  max-width: 500px;
  margin: 0, auto;
  color: white;
}

.calendar .fc-toolbar-title {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.calendar .fc-scrollgrid-sync-inner {
  background-color: rgb(61, 61, 61);
}




@media screen and (max-width: 1200px) {
  #loginForm {
    width: 40%;
  }
}

@media screen and (min-width: 520px) and (max-width: 780px) {
  .text-nowrap {
      font-size: 2.5vw;
  }
  #loginForm {
    width: 50%;
  }
}

@media screen and (max-width: 520px) {
  .text-nowrap {
    font-size: 11px;
  }
  #loginForm {
    width: 80%;
  }
}
