:root {
  --bg-color: linear-gradient(rgb(39, 39, 39), rgba(48, 25, 52, 0.808));
  --box-color: linear-gradient(rgb(37, 37, 37), rgba(48, 25, 52, 0.918));
  --txt-color: white;
  --data-bg: rgba(97, 97, 97, 0.575);
}

* {
  color: var(--txt-color);
  font-family: "VT323", monospace;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
