:root {
  --bg-color: linear-gradient(160deg, #1a1a1a, #476b4a);
  --box-color: linear-gradient(160deg, #222222, #263327);
  --txt-color: white;
  --data-bg: rgba(97, 97, 97, 0.575);
}

* {
 color: var(--txt-color);
 box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--bg-color);
  background-attachment: fixed;
}